<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <section>
        <h1>
            Login
        </h1>
        <div class="form-wrapper">
          <% if (errorMessage != '') { %>
            <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>
            <% } %>
          <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="email_id@domain.com"
                required
              />
            </div>
            <div class="form-group mb-2">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
              
            </div>
            <div class="form-helper">
              <a href="/reset">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-inline mb-2">
                Login
            </button>
          </form>
        </div>
      </section>

<%- include('../includes/end.ejs') %>