<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/nav.ejs') %>

<section>
    <h1>Your Orders</h1>
    <% if (orders.length <= 0) { %>
        <p>You have no orders.</p>
    <% } else { %>
        <ul>
            <div class="cart-items-wrapper">
            <% orders.forEach(order => { %>
                <li>
                    <div class="detail-wrapper">
                    <h5 class="detail-title">Order - #<%= order._id %></h5>
                    <ul>
                        <% order.products.forEach(p => { %>
                            <div class="order-items">
                            <li>
                                Product: <%= p.product.title %> <br/> 
                                Price: <%= p.product.price %> <br/> 
                                Qty: <%= p.quantity %>
                            </li>
                        </div>
                        <% }); %>
                    </ul>
                </div>
                </li>
            <% }); %>
        </div>
        </ul>
    <% } %>
</section>

<%- include('../includes/end.ejs') %>